		<!-- end: HEADER -->
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<section class="page-top">
				<div class="container">
					<div class="col-md-4 col-sm-4">
						<h1>About Us</h1>
					</div>
					<div class="col-md-8 col-sm-8">
						<ul class="pull-right breadcrumb">
							<li>
								<a href="index.html">
									Home
								</a>
							</li>
					
							<li class="active">
								About Us
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h3>Welcome To RealEstateEmails.com</h3>
							<p>
								Something Here
							</p>
							<p>
								Something Here
							</p>
							<p>
								Something Here
							</p>
							<p>
								Something Here
							</p>
						</div>
						<div class="col-md-5">
							<div class="flexslider" data-plugin-options='{"directionNav":true}'>
								<ul class="slides">
									<li>
										<img src="assets/images/image01.jpg" />
									</li>
									<li>
										<img src="assets/images/image02.jpg" />
									</li>
									<li>
										<img src="assets/images/image03.jpg" />
									</li>
									<li>
										<img src="assets/images/image04.jpg" />
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<h3>Our specialization</h3>
							<div class="progress-bars">
								<div class="progress-label">
									<span>Something Here</span>
								</div>
								<div class="progress">
									<div class="progress-bar main-color animate-bar six-sec-ease-in-out" aria-valuetransitiongoal="100"></div>
								</div>
								<div class="progress-label">
									<span>Something Here</span>
								</div>
								<div class="progress">
									<div class="progress-bar main-color animate-bar six-sec-ease-in-out" aria-valuetransitiongoal="60"></div>
								</div>
								<div class="progress-label">
									<span>Something Here</span>
								</div>
								<div class="progress">
									<div class="progress-bar main-color animate-bar six-sec-ease-in-out" aria-valuetransitiongoal="75"></div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<h3>Who Is  RealEstateEmails.com</h3>
							<div class="panel-group accordion-custom accordion-teal" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											<i class="icon-arrow"></i>
											Our Company Mission
										</a></h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse">
										<div class="panel-body">
											<p>
												Something Here
											</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											<i class="icon-arrow"></i>
											Something Here
										</a></h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											<p>
												Something Here
											</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											<i class="icon-arrow"></i>
											Something Here
										</a></h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											<p>
												Something Here
											</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
											<i class="icon-arrow"></i>
											Top Team
										</a></h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											<p>
												
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<hr>
							<h2 class="center">Meet the Team</h2>
							<p class="center">
								Description Here
							</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div id="team" class="row">
						<div class="col-md-12">
							<div class="row">
								<ul class="team-list animate-group">
									<li class="col-md-3 col-sm-6">
										<div class="thumbnail animate">
											<img src="assets/images/team-1.jpg" alt="">
											<span class="image-overlay"> <a target="_blank" href="http://www.facebook.com"><i data-original-title="Facebook" data-placement="top" class="tooltips fa fa-facebook circle-icon circle-small"></i></a> <a target="_blank" href="http://www.linkedin.com"><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a></span>
										</div>
										<h3>Andrew</h3>
										<div>
											CEO
										</div>
										<div class="team-member-description">
											<p>
												Bio Here
											</p>
										</div>
									</li>
									<li class="col-md-3 col-sm-6">
										<div class="thumbnail animate">
											<img src="assets/images/team-2.jpg" alt="">
											<span class="image-overlay"><a target="_blank" href="http://www.linkedin.com"><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a> <a target="_blank" href="http://www.github.com"><i data-original-title="Github" data-placement="top" class="tooltips fa fa-github circle-icon circle-small"></i></a></span>
										</div>
										<h3>Brandon</h3>
										<div>
											Administration
										</div>
										<div class="team-member-description">
											<p>
												Bio Here
											</p>
										</div>
									</li>
									<li class="col-md-3 col-sm-6">
										<div class="thumbnail animate">
											<img src="assets/images/team-3.jpg" alt="">
											<span class="image-overlay"><a target="_blank" href="http://www.twitter.com"><i data-original-title="Twitter" data-placement="top" class="tooltips fa fa-twitter circle-icon circle-small"></i></a> <a target="_blank" href="http://plus.google.com"><i data-original-title="Google+" data-placement="top" class="tooltips fa fa-google-plus circle-icon circle-small"></i></a></span>
										</div>
										<h3>Chris</h3>
										<div>
											Senior Designer
										</div>
										<div class="team-member-description">
											<p>
												Bio Here
											</p>
										</div>
									</li>
									<li class="col-md-3 col-sm-6">
										<div class="thumbnail animate">
											<img src="assets/images/team-4.jpg" alt="">
											<span class="image-overlay"> <a target="_blank" href="http://www.github.com"><i data-original-title="Github" data-placement="top" class="tooltips fa fa-github circle-icon circle-small"></i></a></span>
										</div>
										<h3>Moncef</h3>
										<div>
											Web Developer
										</div>
										<div class="team-member-description">
											<p>
												Bio Here
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<footer id="footer">
			<div class="container">
				
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<a class="logo" href="index.html">
									<img src="assets/images/logo-header.png" width="119" height="71" alt="" border="0">	
							</a>
						</div>
						<div class="col-md-7">
							<p>
								         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Copyright 2014
							</p>
						</div>
						<div class="col-md-4">
							<nav id="sub-menu">
								<ul>
									<li>
										<a href="#">
											FAQ's
										</a>
									</li>
									<li>
										<a href="#">
											Sitemap
										</a>
									</li>
									<li>
										<a href="#">
											Contact
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
		<!-- end: FOOTER -->
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/plugins/jquery.transit/jquery.transit.js"></script>
		<script src="assets/plugins/hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
		<script src="assets/plugins/jquery.appear/jquery.appear.js"></script>
		<script src="assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="assets/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="assets/plugins/flex-slider/jquery.flexslider.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
			});
		</script>
