 <br><br><br>
 <footer>
        <div class="container">
	      <br><br><br><br><br><br><br><br><br>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                         <li><a href="/">Welcome</a></li>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                             <li><a href="/how_it_works">How it Works</a></li>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                           <li><a href="/coverage_and_pricing">Coverage and Pricing</a></li>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                         <li><a href="/faq">FAQ</a></li>
                        </li>
						   <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	<li><a href="/contact_us">Contact Us</a></li>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Real Estate Emails LLC, 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
	
