
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            
			<div class="navbar-header">
              <a class="navbar-brand" href="#"><%= image_tag 'static/logo-header.png', size: '130x80',alt: 'Real Estate Emails Logo' %> &nbsp&nbsp&nbsp  </a>
			  
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
				
				
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
      
	   <% if user_signed_in? %>
	     <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default'  %>	  
	  <% end %>

	  
	     <li><a href="/">Welcome</a></li>
                   <li><a href="/how_it_works">How it Works</a></li>
	<li><a href="/coverage_and_pricing">Coverage and Pricing</a></li>

	
	<li><a href="/faq">Help</a></li>
	<li><a href="/contact_us">Contact Us</a></li>
        <li>
	  <%= render partial: 'shared/login' %>
	  
	</li>
            
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>