		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<section class="page-top">
				<div class="container">
					<div class="col-md-4 col-sm-4">
						<h1>FAQ</h1>
					</div>
					<div class="col-md-8 col-sm-8">
						<ul class="pull-right breadcrumb">
							<li>
								<a href="index.html">
									Home
								</a>
							</li>
					
							<li class="active">
								FAQ
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="wrapper padding50">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="center">Frequently Asked Questions</h1>
							<p class="center">
								
							</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- start: FAQ -->
							<div class="tabbable tabs-left">
								<ul id="myTab3" class="nav nav-tabs tab-teal">
									<li class="active">
										<a href="#faq_example1" data-toggle="tab">
											<i class="fa fa-smile-o"></i> Section 1
										</a>
									</li>
									<li class="">
										<a href="#faq_example2" data-toggle="tab">
											<i class="fa fa-shopping-cart"></i> Section 2
										</a>
									</li>
									<li class="">
										<a href="#faq_example3" data-toggle="tab">
											<i class="fa fa-lightbulb-o"></i> Section 3
										</a>
									</li>
									<li class="">
										<a href="#faq_example4" data-toggle="tab">
											<i class="fa fa-download"></i> Section 4
										</a>
									</li>
									<li class="">
										<a href="#faq_example5" data-toggle="tab">
											<i class="fa fa-laptop"></i> Section 5
										</a>
									</li>
									<li class="">
										<a href="#faq_example6" data-toggle="tab">
											<i class="fa fa-wrench"></i> Section 6
										</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="faq_example1">
										<div id="accordion" class="panel-group accordion accordion-custom accordion-teal">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_1_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Is this a spamming service?
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_1_1">
													<div class="panel-body">
														We are not a spamming service. Our lists are targeted, delivering information of vital importance for your business. People that are not interested in our service are given multiple opportunities to unsubscribe from our lists at any time by clicking an unsubscribe link at the bottom of each flyer that is received or by visiting our website.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_1_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Can I use a flyer I already have on my computer?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_1_2">
													<div class="panel-body">
														Absolutely. In addition to providing you with professionally predesigned templates you can also choose to send out your own flyer at no additional charge (PDF, JPEG, etc.). To take advantage of this, you must choose the "I want to use my own flyer" option on Step 1 of the order process

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_1_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Where do you get your list?
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_1_3">
													<div class="panel-body">
														Our lists are composed from a variety of reputable sources including direct opt-ins, offices rosters, public record clearing houses, state directories as well as our own research. In addition to Real Estate Agents, Professionals and Investors may sign up to receive Agent E-Flyers on a daily basis so our lists are always expanding.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_1_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														What are some ideas for an E-Flyer?
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_1_4">
													<div class="panel-body">
														You can use an E-Flyer for just about any purpose relating to your real estate needs.
Some examples are:

 Broker's Open
 Just Listed property
 Motivated Seller
 Must Sell!
 New Construction
 Open House
 Priced To Sell
 One of a Kind
 Price Reduction
 Foreclosures/REO Listings
 Short Sale Propertys
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_1_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														How many agents are in the database?
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_1_5">
													<div class="panel-body">
														
We have over 1 million brokers and agents our database. Names are broken down by real estate association membership.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_1_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Who Receives the email listing flyer?
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_1_6">
													<div class="panel-body">
														Our list is primarily a real estate broker/agent database and is broken down by real estate board affiliation. Anyone however can opt into our database who would like to receive residential listing alerts.

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="faq_example2">
										<div id="accordion2" class="panel-group accordion accordion-custom accordion-teal">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														How can I pay for a RealEstateEmails.com?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_2_1">
													<div class="panel-body">
														We accept credit cards online in our secure interface.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Is there a charge to create an account at RealEstateEmails.com?
 and work on the templates?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_2_2">
													<div class="panel-body">
														No, there are no set up costs, subscriptions or membership costs. There are no contracts and no monthly minimums. You only pay for a Real Estate Emails Blast when you send a Real Estate Emails Blast .

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														How much does it cost to receive RealEstateEmails.com emails?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_2_3">
													<div class="panel-body">
														 Free. It is always free to receive our emails.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_2_4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Do you have templates?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_2_4">
													<div class="panel-body">
														We have several templates to choose from. Feel free to use our fill in the blank style templates or upload your own flyer. You can even use your own html code or create your own html flyer from scratch
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_2_5" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Do I get to see it first before you send it out?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_2_5">
													<div class="panel-body">
														Yes, you can preview the blast online or send a copy to any email address before confirming your order.
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="faq_example3">
										<div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														How many times will my email be sent out?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_1">
													<div class="panel-body">
														One time.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_2" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														What if I have a real estate related 'Service' I wanted to market? Can I do that?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_2">
													<div class="panel-body">
														Yes as long as the service is 100% directly related to business of real estate brokerage. ( we reserve the right to reject any flyer we deem inappropriate) Recruitment flyers are no longer permitted.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_3" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														What is a "Real Estate Related Service".
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_3">
													<div class="panel-body">
														A real estate related service is an available service provided to real estate brokers, agents and the industry. These are services that are directly related to the sale and leasing of real estate. Examples include but are not limited to mortgage lending, real estate coaching and education, title companies and home inspection. Recruitment flyers are no longer permitted.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_4" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Do you already have the brokers' emails that a blast would go to or do we provide that?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_4">
													<div class="panel-body">
														You will be mailing to our extensive list of real estate brokers and agents.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_5" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Do you have a "save" feature? Can we save our work and come back later?
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_5">
													<div class="panel-body">
														Yes. We encourage you to press the save button often to protect your work.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_6" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														I sent a blast and I received it twice. Did it go out twice?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_6">
													<div class="panel-body">
														No, your blast was sent out only one time. You received a live copy because you were in the database that you blasted. Also, as the "sender", you also received a "draft" copy. If you had selected a database to blast that you were not subscribed, then you only would have received the "draft" copy.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_7" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														How do I avoid the junk folder?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_7">
													<div class="panel-body">
														We make every effort to insure that your mail is delivered into the "in box". However, you as "The User" are ultimately responsible for the content you create which has a direct reflection on your results. To insure the best response you can have please follow this list of COMMON MISTAKES TO AVOID: These are the most common mistakes we see new email marketers make, which result in accidental spam filtering. Using spammy phrases, like "Click here!" or "Once in a lifetime opportunity!" Going crazy with exclamation points!!!!!! USING ALL CAPS, WHICH IS LIKE YELLING IN EMAIL (especially in the subject) Coloring their fonts bright red, or green Coding sloppy HTML (usually from converting a Microsoft Word file to HTML) Creating an HTML email that's nothing but one big image, with little or no text (since spam filters can't read images, they assume you're a spammer that's trying to trick 'em). Using the word "Test" in the subject line (agencies run into this all the time, when sending drafts to clients for approval) Sending a test to multiple recipients within the same company (that company's email firewall can only assume it's a spam attack) DeSign Ing HTML email in Microsoft Word, and exporting the code to HTML (that code is sloppy, and spam filters hate it)

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_3_8" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														What are your open rates? How many people will read me email blast?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_3_8">
													<div class="panel-body">
														You've probably heard of the 80/20 rule. It's a contemporary theory that states "20 percent of an action will result in 80 percent of reaction". It is said that 20% of Realtors make 80% of the sales which tells us that 20% are active agents. Since our open rates range between 10-20% this seems to be an accurate summation. Your open rate is directly related to the "email subject line" you enter into the program. Make sure its relevant, snappy and not typed in all capital letters. Open rates are triggered by an action taking place on the email received such as downloading the pictures or clicking on a link. If the email is read from an mobile device such as a phone or tablet and then deleted without making such an action due to non interest, this will not trigger the "open" indicator. The read rate is typically much higher than the open rate however, to date, there is no way of tracking the read rate without triggering the open.

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="faq_example4">
										<div id="accordion4" class="panel-group accordion accordion-custom accordion-teal">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_4_1" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														I am a FSBO (for sale by owner). Can I send a blast?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_4_1">
													<div class="panel-body">
														Yes, you sure can but please be advised that you are emailing real estate agents and therefore be prepared to cooperate with them and pay a commission if they are successful in bringing a sale
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_4_2" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Can I blast a pocket listing?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_4_2">
													<div class="panel-body">
														Yes

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_4_3" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														I sent a blast out previously and I would like to send it again and maybe make some changes before doing so. Is that possible?

													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_4_3">
													<div class="panel-body">
														Yes, you can do this. Simply click on "My Blasts" from your dashboard, and then click "schedule and pay again" next to the order in question. The system will allow you to make any changes if necessary before sending assuming you created the eflyer at our site. If you uploaded your own flyer (pdf), you will need to change the pdf document on your end before uploading it again.

													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_4_4" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_4_4">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_4_5" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_4_5">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_4_6" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_4_6">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="faq_example5">
										<div id="accordion5" class="panel-group accordion accordion-custom accordion-teal">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_5_1" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_5_1">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_5_2" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_5_2">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_5_3" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_5_3">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_5_4" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_5_4">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_5_5" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_5_5">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_5_6" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_5_6">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="faq_example6">
										<div id="accordion6" class="panel-group accordion accordion-custom accordion-teal">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_6_1" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_6_1">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_6_2" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_6_2">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_6_3" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_6_3">
													<div class="panel-body">
														A.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_6_4" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_6_4">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_6_5" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_6_5">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_6_6" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_6_6">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
													<a href="#faq_6_7" data-parent="#accordion6" data-toggle="collapse" class="accordion-toggle collapsed">
														<i class="icon-arrow"></i>
														Q
													</a></h4>
												</div>
												<div class="panel-collapse collapse" id="faq_6_7">
													<div class="panel-body">
														A
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end: FAQ -->
						</div>
					</div>
				</div>
			</section>
			<section class="wrapper wrapper-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="promobox">
								<p class="center">
									
								</p>
								<p class="center">
									<a href="http://themeforest.net/item/clipone-bootstrap-3-responsive-admin-template/5881143?ref=Cliptheme" class="btn btn-bricky">
										Start Now
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<footer id="footer">
			<div class="container">
				
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<a class="logo" href="index.html">
									<img src="assets/images/logo-header.png" width="119" height="71" alt="" border="0">	
							</a>
						</div>
						<div class="col-md-7">
							<p>
								         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Copyright 2014
							</p>
						</div>
						<div class="col-md-4">
							<nav id="sub-menu">
								<ul>
									<li>
										<a href="#">
											FAQ's
										</a>
									</li>
									<li>
										<a href="#">
											Sitemap
										</a>
									</li>
									<li>
										<a href="#">
											Contact
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
		<!-- end: FOOTER -->
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/plugins/jquery.transit/jquery.transit.js"></script>
		<script src="assets/plugins/hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
		<script src="assets/plugins/jquery.appear/jquery.appear.js"></script>
		<script src="assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="assets/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="assets/plugins/flex-slider/jquery.flexslider.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
			});
		</script>

