		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<section class="page-top">
				<div class="container">
					<div class="col-md-4 col-sm-4">
						<h1>How it Works</h1>
					</div>
					<div class="col-md-8 col-sm-8">
						<ul class="pull-right breadcrumb">
							<li>
								<a href="index.html">
									Home
								</a>
							</li>
							
							<li class="active">
								How it Works
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="wrapper" style="min-height:400px; background-image: url('assets/images/bg2.jpg')" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="center white"> WE MADE IT EASY</h2>
							<p class="center white">
								3  Easy Steps
							</p>
						</div>
					</div>
					<div class="row animate-group">
						<div class="col-sm-4">
							<div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
								<i class="icon-box-icon fa fa-pencil"></i>
								<h3 class="icon-box-title">Step 1: Create Your Email Flyer</h3>
								<div class="icon-box-content">
									
						
						
						


									
									
								
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
								<i class="icon-box-icon fa clip-globe"></i>
								<h3 class="icon-box-title">Step 2: Select The Delivery Area</h3>
								<div class="icon-box-content">

								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
								<i class="icon-box-icon fa clip-switch"></i>
								<h3 class="icon-box-title">Step 3: Make Payment</h3>
								<div class="icon-box-content">
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<footer id="footer">
	
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<a class="logo" href="index.html">
									<img src="assets/images/logo-header.png" width="119" height="71" alt="" border="0">	
							</a>
						</div>
						<div class="col-md-7">
							<p>
								         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Copyright 2014
							</p>
						</div>
						<div class="col-md-4">
							<nav id="sub-menu">
								<ul>
									<li>
										<a href="#">
											FAQ's
										</a>
									</li>
									<li>
										<a href="#">
											Sitemap
										</a>
									</li>
									<li>
										<a href="#">
											Contact
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
		<!-- end: FOOTER -->
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/plugins/jquery.transit/jquery.transit.js"></script>
		<script src="assets/plugins/hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
		<script src="assets/plugins/jquery.appear/jquery.appear.js"></script>
		<script src="assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="assets/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="assets/plugins/flex-slider/jquery.flexslider.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
			});
		</script>
